:root {
	--color-bg-body: #083b4c;
    --color-bg-blue: #1389b2;
	--color-bg-fizz: #4de1ba;
	--color-bg-buzz: #ffd166;
	--color-bg-fizzbuzz: #f0466f;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(11, 92, 58);
}
#boxWrapper{
    width: 1000px;
    height: 1000px;
    margin: 20px auto;


}

.box{
    width: 80px;
    height: 80px;
    border-radius: 15%;
    margin: 10px;
  
}


.number{
    background-color: white;
    color: black;
}

/* divisibile x 2 */
.two{
    background-color: rgba(172, 172, 108, 0.715);
}

/* divisibile x 3 */
.fizz{
    background-color: rgb(8, 8, 163);
    color: white;
}
/* divisibile x  5 */
.buzz{
    background-color: rgb(152, 7, 7);
    color: white;
}
/* divisibile x 3 e 5 */
.fizzbuzz{
    background-color: rgb(162, 54, 162);
}
/* divisibile x 2 e 3 */
.six{
    background-color: green;
}

/* divisibile x 2, 3 e 5 */

.thirty{
    background-color: black;
    color: white;
}