:root {
	--color-bg-body: #083b4c;
    --color-bg-blue: #1389b2;
	--color-bg-fizz: #0cd6a1;
	--color-bg-buzz: #ffd166;
	--color-bg-fizzbuzz: #f0466f;
	
}
body{
    font-family: 'Roboto', sans-serif;
    
}
#boxWrapper{
    width: 1000px;
    height: 1000px;
    margin: 20px auto;
    background-color: var(--color-bg-body);
    
}

.box{
    width: 80px;
    height: 80px;
    border:1px solid black;
    margin: 10px;
}

.number{
    background-color: var(--color-bg-blue);
}
/* divisibile x 3 */
.fizz{
    background-color: var(--color-bg-fizz);
}
/* divisibile x  5 */
.buzz{
    background-color: var(--color-bg-buzz);
}
/* divisibile x 3 e 5 */
.fizzbuzz{
    background-color: var(--color-bg-fizzbuzz);
}